# Deps
node_modules

# Vscode
!.vscode
.vscode/*
!.vscode/settings.json

# Output
target

# Env
.env
.env.development
.env.test
.env.production

# Db
!.database
.database/*
!.database/.gitkeep

# TLS/SSL
!tls
tls/*
!tls/.gitkeep

# Etc
diff.txt
rest.http
debug.ts
note.txt

# Bin
tasks-server-*
