# Don't count tests in the language stats
src/**/*.test.ts linguist-documentation
# Count some languages
*.sql linguist-detectable=true
*.sh linguist-language=Shell linguist-detectable=true
*.nix linguist-language=Nix linguist-detectable=true